<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>comment: <br><%= comment.id %></h1><br>
    <p><b>username:</b> <br><%= comment.username %></p><br>
    <p><b>comment:</b> <br><%= comment.comment %></p><br>

    <a href="/comments">comments</a>
    <a href="/comments/<%= comment.id %>/edit">edit</a>
    <form action="/comments/<%= comment.id %>?_method=DELETE" method="POST">
            <button>DELETE</button>
    </form>
</body>
</html>